/* Styling the entire page*/
body {
    background: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
}
/*Styling the Navigation Bar*/
ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 500px;
}

ul>li {
    font-weight: 700;
    color: rgb(0, 60, 255);
}

ul>li>a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 60, 255);
}

ul>li>a:hover {
    color: dodgerblue;
}

ul>li:hover {
    color: dodgerblue;
}

.top>ul>li {
    list-style-type: none;
}
/*List Of Akan Names*/
.names-list {
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding: 0px 200px;
}

.top>p {
    padding: 50px;
    text-align: center;
}

h2 {
    color: rgb(0, 60, 255);
}

.middle {
    height:15rem;
}
/*Styling the user input form*/
form {
    padding: 100px 500px;
}

.form {
    display: flex;
    padding: 20px;
    line-height: 40px;
}

input[type="date"] {
    color: mediumorchid;
}

option {
    color: mediumorchid;
}

button {
    border: none;
    padding: 5px 10px;
    font-weight: 800;
    border-radius: 5px;
    color: maroon;
    margin-left: 200px;
}

button:hover {
    color: mediumorchid;
    border: 1px solid blueviolet;
}

/*Styling The Fontawesome Icon*/
.fas {
    color: aliceblue;
}

.fas:hover {
    color: aqua;
}
/*Beginning of The Footer Styling*/
footer {
    border-radius: 20px;
    padding: 10px 50px;
    background: rgb(37, 90, 170);
    color: rgb(255, 255, 255);
}
